.myForm {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}
div, input[type="submit"] {
	color: white;
	border:0;
}
/*input[type="submit"] {
	border:0;
}*/

.signbox {
	display:flex;
	justify-content: center;
	align-items: center;
}

.buttons {
	display: inline-block;
}

.logbutt {
	margin-bottom: 0;
	margin-top: 10px;
	width:auto;
}

.log {
	width:80%;
}

.pass {
	width: 80%;
}

.flexer {
	display:flex;
	flex-direction: column;
	align-items: center;
	width:80%;
}

p {
	font-size: 1.5rem;
	margin: 1px;
}

@media only screen and (max-width: 1080px) {
.phoneScreen{
	font-size: 2rem;
}
div.myForm {
	width: 90%;
	height:100%;
}
}


