.itemflex {
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: space-around;
} 

.buybutt {
	border:1px solid white;
	cursor: pointer;
}

@media only screen and (max-width: 800px) {
	.itemflex {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	} 
}

