.menu-area {
	background: black;
	width: 100%;
	z-index: 2;
}
.menu-area div{
	display:flex;
	align-items: center;
	justify-content: center;
	background: black;
	height:50px;
	text-decoration: none;
}

.menu-area ul {
	list-style: none;
	display: flex;
}

.menu-area ul li{
	position: relative;
	width:100%;
	text-align: center;
}

.menu-area li:hover .bigDrop li {
	top:0;
	display: block
}

.bigDrop ul li {
	display: none;
	position: relative;
}

.bigDrop {
	position: absolute;
	display: flex;
	flex-direction: column;
	width:100%;
}
/*.nav {
	width:100%;
	background-color: black;
	display: inline-flex;
	color: white;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid white;
	align-content: center;
	height:8%;
}
.about {
	display: flex;
	flex-wrap: nowrap;
}
.fixed {
	position: fixed;
	z-index: 1;
}

.relative {
	z-index: 2;
	position:relative;
}

p {
	font-family: 'Yanone Kaffeesatz';
}

.bigDrop {
	display:flex;
	flex-direction:column;
	align-content: space-around;
	background-color: black;
	height: 300%;
}

.bigDrop div {
	position: relative;
	width: 100%;
	text-align: center;
}


.noDrop div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1%;
	height: 100%;
	width:100%;
}

/*.admin {
	height:305%;
}*/

/*.bigDrop > * {
	height:100%;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}*/

/*
.nav > div {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	height:100%;
	padding: 1%;
	font-size: 1.5rem;
	border-left: 1px solid white;
	cursor: pointer;
	font-family: 'Grenze', serif;
}

.fonted {
	font-family: 'Grenze', serif;
}

.logo {
	margin-right:auto;
	border-left: 0;
}
*/

/*@media only screen and (max-width: 800px) {


  .logo {
	margin-right: 0;
  }
  nav {
  	position: fixed;
  	z-index: 1;
  }

  .fonted {
  	font-size: 1rem
  }
  
  nav > div {
    padding: 10px;
  }
}


@media only screen and (max-height: 400px) {
	.bigDrop {
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	height:205%;
	background-color: black;
	align-self: flex-start;
	border:1px solid white;
	border-top:0px;
	padding: 0px;
	}
	nav {
		height:12%;
	}
	nav > div {
		font-size: 1rem;
	}

	.fonted {
		font-size: 1rem;
	}

	.admin {
		height:300%;
	}
}*/