nav {
	width:100%;
	background-color: black;
	display: inline-flex;
	color: white;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid white;
	align-self: flex-start;
	height:8%;
}
.fixed {
	position: fixed;
	z-index: 1;
}

.relative {
	position:relative;
}

p {
	font-family: 'Yanone Kaffeesatz';
}

.bigDrop {
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	height:205%;
	background-color: black;
	align-self: flex-start;
	border:1px solid white;
	border-top:0px;
	padding: 0px;
}

.admin {
	height:305%;
}

.bigDrop > div {
	height:100%;
	width: 100%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bigDrop >div:first-child {
	border-bottom: 1px solid white;
}

nav > div {
	padding: 10px;
	font-size: 1.5rem;
	border-left: 1px solid white;
	cursor: pointer;
	font-family: 'Grenze', serif;
}

.fonted {
	font-family: 'Grenze', serif;
	font-size: 1.5rem;
}

.logo {
	margin-right:auto;
	border-left: 0;
}

@media only screen and (max-width: 800px) {


  .logo {
	margin-right: 0;
  }
  nav {
  	position: fixed;
  	z-index: 1;
  }

  .fonted {
  	font-size: 1.2rem
  }
  
  nav > div {
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2rem;
  }
}


@media only screen and (max-height: 400px) {
	.bigDrop {
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	height:205%;
	background-color: black;
	align-self: flex-start;
	border:1px solid white;
	border-top:0px;
	padding: 0px;
	}
	nav {
		height:12%;
	}
	nav > div {
		font-size: 1rem;
		padding-top: 5px;
	}

	.fonted {
		font-size: 1rem;
	}

	.admin {
		height:305%;
	}
}